
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px">
        <b>Your Email Is Verified</b>
    </div>
    <div>
        <pre>
Hi,
Kamu telah mendapat email verifikasi untuk registrasi akun JR Persero !
click <a href="@ViewBag.ConfirmationLink">Here</a>
</pre>
    </div>
</body>
</html>
